<plist version="1.0">
<dict>

    <key>Label</key>
    <string>jimbocoder.brew-update</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/opt/homebrew/bin:/opt/homebrew/sbin</string>
    </dict>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/env</string>
        <string>brew</string>
        <string>update</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/jimbocoder.brew-update.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/jimbocoder.brew-update.stderr.log</string>

    <key>InitGroups</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StartInterval</key>
    <integer>43200</integer>

</dict>
</plist>
